label{
  margin-top: 10px;
}
input[type="submit"], input[type="button"]{
  margin-top: 15px;
}
input.error{
  border-color: red !important;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(255,0,0,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(255,0,0,1);
  box-shadow: 0px 0px 3px 0px rgba(255,0,0,1);
}
table{
  border-collapse: collapse;
}
table thead td{
  background: #dfdfdf;
}
table td{
  border: 1px solid #ccc;
  padding: 10px 20px;
}